<style>
.vcenter input, .vcenter span{
    display: inline-flex;
    vertical-align: middle;
}
</style>
<div class="login-page-container text-center">
  <div>
    <%= image_tag('login-page-logo.png', class: "mb-4", width: "110", height: "110") %>
    <% flash.each do |key, value| %>
      <div class="<%= key %>" style="color:orange; margin: 10px 0 0 10px;">
        <p><%= value %></p>
      </div>
    <% end %>
    <h1 class=" mb-3 font-weight-normal">Please sign in</h1>
    <%= form_tag sessions_url, class: "form-signin" do |f| %>
      <%= label_tag :email,"", class: "sr-only" %>
      <%= email_field_tag :email,"", id: "inputEmail", class: "form-control", placeholder: "Email", autofocus: true %>

      <%= label_tag :password,"", class: "sr-only"  %>
      <%= password_field_tag :password,"", id: "inputPassword", class: "form-control", placeholder: "Password", autofocus: true %>

      <%= check_box_tag :remember_me,"", class: "checkbox mb-3" %>
      <%= label_tag :remember_me  %>
      <br>
      <button type="submit" class="btn btn-lg btn-dark btn-block">Sign in</button>
    <% end %>
    <p class="forgot-password"><%= link_to 'Forgot password?', new_password_reset_path %></p>
    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
  </div>
</div>

