<div class="nav-container">
  <div class="left-container">
    <%= link_to root_path do %>
      <%= image_tag('Logo-thug@2x.png', class: "bruzz") %>
      <p>Square</p>
    <% end %>
  </div>
  <% if (params[:action] == "main" && params[:controller] == "pages") %>
    <div class="login-container">
      <%= link_to login_path do%><div class="login-button">Login</div><% end %>
    </div>
  <% elsif (params[:action] == "show" && params[:controller] == "products") %>
  <% else (params[:action] == "dashboard" && params[:controller] == "pages") %>
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Log Out", logout_path %>
      </div>
    </div>
  <% end %>
</div>
<div class="flash-alert">
  <% flash.each do |key, value| %>
    <div class="<%= key %>" style="color:orange;">
      <p><%= value %></p>
    </div>
  <% end %>
</div>

<% if @user_referrer %>
  <div class="invitation-container">
    <div class="inv_content">
      <p><span><%= @user_referrer.first_name %> <%= @user_referrer.last_name %></span> invited you to the party 🎉</p>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function () {
    var previousScroll = 0;
    $(window).scroll(function () {
      var currentScroll = $(this).scrollTop();
      if (currentScroll < 50) {
      } else if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()) {
        if (currentScroll > previousScroll) {
          hideNav();
        } else {
          showNav();
        }
        previousScroll = currentScroll;
      }
    });

    function hideNav() {
      $(".invitation-container").removeClass("is-visible").addClass("is-hidden");
    }

    function showNav() {
      $(".invitation-container").removeClass("is-hidden").addClass("is-visible").addClass("scrolling");
    }
  });
</script>


