<%= render "shared/navbar" %>

<div class="dashboard-container">
  <div class="dasboard-content">
    <div class="dashboard-top">
      <div class="dashboard-top-content">
        <div class="left-top-content">
          <div class="tank-you">
            <h2>Thank You</h2>
            <%= image_tag('Disco_ball.png', id: "disco-ball") %>
            <p>Access the party with your<br>unique code:&nbsp;&nbsp;&nbsp;<span>ZFX3YA9E</span></p>

            <div class="countdown-container">
              <h3>Party starts in:</h3>
              <div class="cards-container">
                <div class="card-time">
                  <p id="days" class="numbers"></p>
                  <p id="days-text" class="text-numbers"></p>
                </div>
                <div class="card-time">
                  <p id="hours" class="numbers"></p>
                  <p id="hours-text" class="text-numbers"></p>
                </div>
                <div class="card-time">
                  <p id="minutes" class="numbers"></p>
                  <p id="minutes-text" class="text-numbers"></p>
                </div>
                <div class="card-time">
                  <p id="seconds" class="numbers"></p>
                  <p id="seconds-text" class="text-numbers"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="refer-friends-container">
          <div class="refer-friends-content">
            <div class="text-part">
              <h2>DON'T LEAVE YOUR FRIENDS BEHIND</h2>
              <h1><span id="blue">INVITE</span> 10 FRIENDS<br>& EARN <span id="orange">MONEY</span></h1>
              <div class="copy-link"><%= root_url %>?ref=<%= @order.referral_code %></div>
              <p>Share your unique link via email, Messenger, Instagram or<br>WhatsApp and earn sun glasses if 10 friends join the party.</p>
              <% twitter_message = "#Mobility is evolving. Excited for YodaCity to launch." %>
              <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@order.referral_code) %>&title=YodaCity" class="fb" target="_blank"><i class="fab fa-facebook" ></i></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@order.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><i class="fab fa-twitter-square" ></i></a>
              </div>
              <p id="link-info" style="margin-top: 0px;">Your unique link works with those two buttons too.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<%
  if @order.referrals.count >= 10
    no_referral_cards = 0
    referrals_count = 10
  else
    referrals_count = @order.referrals.count
    no_referral_cards = 10 - referrals_count
  end


%>

    <div class="dashboard-bottom">
      <h3>HERE’S HOW IT WORK</h3>
      <p>Invite 10 friends with your unique link and earn 1€ per friend.</p>
      <% if referrals_count == 0 %>
        <p id="total">TOTAL EARNED = 0€ </p>
      <% else %>
        <p id="total">TOTAL EARNED = referrals_count€</p>
      <% end %>
      <div class="friends-cards-container">
        <% @order.referrals.each do |referral| %>
          <div class="friends-cards referal_cards">
            <p class="first-name">referral.first_name</p>
            <p class="last-name">referral.last_name</p>
            <p class="last-name">🎉</p>
            <p class="money">You won 1 €</p>
          </div>
        <% end %>
        <% no_referral_cards.times do |card| %>
          <div class="friends-cards">
            <p>1€</p>
          </div>
        <% end %>
      </div>
<%
  words = ''
  if referrals_count == 1
    words = 'friend has'
  else
    words = 'friends have'
  end
%>
      <% if referrals_count == 0 %>
        <p class="place"><span>No</span> friends have joined...Yet!</p>
      <% else %>
        <p class="place"><span id="friend"><%= referrals_count %></span> <%= words %> joined</p>
      <% end %>
      <p class="check">Keep checking</p>
    </div>
  </div>
</div>



<script>
// Set the date we're counting down to
var countDownDate = new Date("May 15, 2020 14:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if (days <= 1){
    document.getElementById("days-text").innerHTML = "DAY"
  }else{
    document.getElementById("days-text").innerHTML = "DAYS"
  }

  if (hours <= 1){
    document.getElementById("hours-text").innerHTML = "HOUR"
  }else{
    document.getElementById("hours-text").innerHTML = "HOURS"
  }

  if (minutes <= 1){
    document.getElementById("minutes-text").innerHTML = "MINUTE"
  }else{
    document.getElementById("minutes-text").innerHTML = "MINUTES"
  }

  document.getElementById("seconds-text").innerHTML = "SECONDS"
  // Display the result in the element with id="demo"
  document.getElementById("days").innerHTML = days
  document.getElementById("hours").innerHTML = hours
  document.getElementById("minutes").innerHTML = minutes
  document.getElementById("seconds").innerHTML = seconds



  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
