<%= render "shared/navbar" %>
<div class="main-container">
  <%= image_tag('guirlande_bleu@2x.png', id: "guirlande") %>
  <div class="page-1-container">
    <div class="page-1-wrapper">
      <div class="imaage">
        <%= image_tag('WebApp.png', class: "macbook") %>
      </div>
      <div class="right-wrapper">
        <div class="right-content">
          <h1>A virtual party<br>To fight Covid-19<br>With your team.</h1>
          <h2>Party with your friends and challenge<br>other rooms.</h2>
          <%= link_to "Get early access", root_path, class: "call_to_action" %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-2-covid-19">
  </div>

  <div class="page-3-lineup-container">
    <div class="page-3-lineup-content">
      <div class="left-wrapper">
        <p class="party-time">Party starts in</p>
        <div class="rectangle">
          <h3>lineup</h3>
          <ul class="artists">
            <li class="artist"><p class="name">Patrick Toping</p><p class="hours">17:00</p></li>
            <li class="artist"><p class="name">Lola Arrow</p><p class="hours">16:00</p></li>
            <li class="artist"><p class="name">Dc Salas</p><p class="hours">15:00</p></li>
            <li class="artist"><p class="name">Second Mood</p><p class="hours">14:00</p></li>
          </ul>
        </div>
        <%= link_to "Get early access", root_path, class: "call_to_action" %>
      </div>
      <div class="right-wrapper">
        <p class="party-time">30 Days <span>:</span> 11 Hours <span>:</span> 33 Minutes</p>
        <div class="rectangle"></div>
      </div>
    </div>
  </div>

  <div class="rooms-container">
    <div class="rooms-content">
      <div class="room-top-wrapper">
        <div class="room-top-content">
          <div class="left-content">
            <div class="rectangle"></div>
          </div>
          <div class="right-content">
            <div class="text-content">
              <h3>Create a room<br>with 3 <span>friends</span></h3>
              <p>Meet random groups of friends in team.</p>
              <%= link_to "Get early access", root_path, class: "call_to_action" %>
            </div>
          </div>
        </div>
      </div>
      <div class="room-bottom-wrapper">
        <div class="room-bottom-content">
          <div class="left-content">
            <div class="text-content">
              <h3>Next others<br><span>random</span> rooms</h3>
              <p>Play alcohol games and <%= link_to 'Truth or Dare', root_path%><br>against them.</p>
              <%= link_to "Get early access", root_path, class: "call_to_action" %>
            </div>
          </div>
          <div class="right-content">
            <div class="rectangle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="truth-or-dare-container">
    <div class="truth-or-dare-content"></div>
  </div>

  <div class="box-container">
    <div class="box-content">
      <h3>Choose your box for the party 🎉</h3>
      <p>We will deliver them at your doorstep before the party start.</p>
      <div class="box-wrapper">
        <% @products.each do |product| %>
          <%= link_to product_path(product, :ref => @referrer_code ) do %>
            <div class="box">
              <div class="box-top">
                <% if product.image_filename_1 %>
                  <% image_tag product.image_filename_1 %>
                <% end %>
              </div>
              <div class="box-bottom">
                <p><%= product.price_in_cent / 100%>€</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>























