<%= render "shared/navbar" %>
<div class="main-container">
  <%= image_tag('guirlande_bleu@2x.png', id: "guirlande") %>

  <div class="page-1-container">
    <div class="page-1-wrapper">
      <div class="imaage">
        <%= image_tag('WebApp.png', class: "macbook") %>
      </div>
      <div class="right-wrapper">
        <h1>A virtual party<br>To fight Covid-19<br>With your team.</h1>
        <h2>Party with your friends and<br>challenge other rooms.</h2>
        <%= link_to "Get early access", root_path, class: "call_to_action" %>
      </div>
    </div>
  </div>

  <div class="page-2-web-app-infos">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="box-container">
    <div class="box-wrapper">
      <% @products.each do |product| %>
        <%= link_to product_path(product, :ref => @referrer_code ) do %>
          <div class="box">
            <p><%= product.name %></p>
            <% if product.image_filename_1 %>
              <% image_tag product.image_filename_1 %>
            <% end %>
            <p><%= product.price_in_cent %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
